@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}


.neon-bg {
  position: relative;
  background-color: #0b0e14;
  background-image: url("../assets/bg.svg");
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

.neon-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(11, 14, 20, 0.4);
  z-index: -1;
}