@import "./base.css";

#app {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

@media (max-width: 992px) {
  section {
    padding: 42px 0 !important;
  }
  section h2 {
    font-size: 2rem !important;
  }
}

.neon-bg {
  position: relative;
  background-color: #0b0e14;
  background-image: url("../assets/bg.svg");
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  z-index: -100;
}

.neon-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  z-index: -1;
}


.resume-bg {
  position: relative;
}

.resume-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    135deg,
    #0f172a,
    #1e293b,
    #020617
  );
  z-index: -2;
}

.resume-bg::after {
  content: "";
  position: absolute;
  inset: -40%;
  background:
    radial-gradient(circle at 20% 30%, #0f104673, transparent 40%),
    radial-gradient(circle at 80% 20%, #8b2c8759, transparent 45%),
    radial-gradient(circle at 50% 80%, #22c55e11, transparent 40%);
  filter: blur(120px);
  z-index: -1;
}

.cert-link {
    color: var(--link);
}

/* Masquer la scrollbar mais garder le scroll */
.scroll-hidden {
  overflow: auto;
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE / Edge legacy */
}

.scroll-hidden::-webkit-scrollbar {
  display: none;              /* Chrome / Safari */
}

/* Custom scrollbar for modal */
.scroll-custom::-webkit-scrollbar {
  width: 8px;
}

.scroll-custom::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.scroll-custom::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}